<a href="https://colab.research.google.com/github/RojaCM/PANDAS-DATA-ANALYSIS/blob/main/lEGO%20data%20analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/lego_sets.csv')
parent_theme = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/parent_themes.csv')

In [3]:
df.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [4]:
df['theme_name'].nunique()

390

In [6]:
df['set_num'].nunique()

11833

In [7]:
parent_theme.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

#WHAT PERCENTAGE OF ALL LICENCE SETS EVER RELEASED WERE STAR WARS THEMED

In [16]:
a=parent_theme[parent_theme['is_licensed']==True]
a

      id                              name  is_licensed
7    158                         Star Wars         True
12   246                      Harry Potter         True
16   263          Pirates of the Caribbean         True
17   264                     Indiana Jones         True
18   269                              Cars         True
19   270                            Ben 10         True
20   271                  Prince of Persia         True
21   272             SpongeBob SquarePants         True
23   275                         Toy Story         True
33   317                            Avatar         True
43   388             Disney's Mickey Mouse         True
77   482                      Super Heroes         True
88   561  The Hobbit and Lord of the Rings         True
89   570      Teenage Mutant Ninja Turtles         True
91   575                   The Lone Ranger         True
93   577                         Minecraft         True
95   579                   Disney Princess         True
103  602                    Jurassic World         True
104  603                        Scooby-Doo         True
107  606                       Angry Birds         True
108  607                      Ghostbusters         True
109  608                            Disney         True

In [18]:
b=parent_theme[parent_theme['name']=='Star Wars']

In [19]:
b

    id       name  is_licensed
7  158  Star Wars         True

In [22]:
c=df[df['parent_theme']=='Star Wars']
c

,set_num,name,year,num_parts,theme_name,parent_theme
44,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars
45,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars
54,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars
57,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars
116,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars
...,...,...,...,...,...,...
11811,VP-12,Star Wars Co-Pack of 7121 and 7151,2000,2.0,Star Wars Episode 1,Star Wars
11816,VP-2,Star Wars Co-Pack of 7110 and 7144,2001,2.0,Star Wars Episode 4/5/6,Star Wars
11817,VP-3,Star Wars Co-Pack of 7131 and 7151,2000,2.0,Star Wars Episode 1,Star Wars
11818,VP-4,Star Wars Co-Pack of 7101 7111 and 7171,2000,3.0,Star Wars Episode 1,Star Wars
11822,VP-8,Star Wars Co-Pack of 7130 and 7150,2000,NaN,Star Wars Episode 4/5/6,Star Wars

In [45]:
merged=df.merge(parent_theme,left_on='parent_theme',right_on='name')

In [46]:
merged

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,Legoland,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,Legoland,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,Legoland,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,Legoland,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,Legoland,False
...,...,...,...,...,...,...,...,...,...
11981,8410-1,Swampfire,2010,22.0,Ben 10,Ben 10,270,Ben 10,True
11982,8411-1,ChromaStone,2010,21.0,Ben 10,Ben 10,270,Ben 10,True
11983,8517-1,Humungousaur,2010,14.0,Ben 10,Ben 10,270,Ben 10,True
11984,8518-1,Jet Ray,2010,NaN,Ben 10,Ben 10,270,Ben 10,True
11985,8519-1,Big Chill,2010,20.0,Ben 10,Ben 10,270,Ben 10,True

In [47]:
merged.drop(['name_y'],axis=1,inplace=True)

In [48]:
merged

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False
...,...,...,...,...,...,...,...,...
11981,8410-1,Swampfire,2010,22.0,Ben 10,Ben 10,270,True
11982,8411-1,ChromaStone,2010,21.0,Ben 10,Ben 10,270,True
11983,8517-1,Humungousaur,2010,14.0,Ben 10,Ben 10,270,True
11984,8518-1,Jet Ray,2010,NaN,Ben 10,Ben 10,270,True
11985,8519-1,Big Chill,2010,20.0,Ben 10,Ben 10,270,True

In [65]:
licensed=merged[merged['is_licensed']]

In [66]:
licensed

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True
...,...,...,...,...,...,...,...,...
11981,8410-1,Swampfire,2010,22.0,Ben 10,Ben 10,270,True
11982,8411-1,ChromaStone,2010,21.0,Ben 10,Ben 10,270,True
11983,8517-1,Humungousaur,2010,14.0,Ben 10,Ben 10,270,True
11984,8518-1,Jet Ray,2010,NaN,Ben 10,Ben 10,270,True
11985,8519-1,Big Chill,2010,20.0,Ben 10,Ben 10,270,True

In [67]:
licensed[licensed['parent_theme']=='Star Wars'].shape[0]/licensed.shape[0]*100

51.653944020356235

In [59]:
df.isnull().sum()

set_num          153
name             153
year               0
num_parts       5060
theme_name       153
parent_theme       0
dtype: int64

In [60]:
merged['set_num'].isnull().sum()

153

In [63]:
merged.dropna(subset=['set_num'],inplace=True)

In [64]:
merged.isnull().sum()

set_num            0
name_x             0
year               0
num_parts       4998
theme_name         0
parent_theme       0
id                 0
is_licensed        0
dtype: int64

In [69]:
licensed_sorted=licensed.sort_values(by='year')

In [70]:
licensed_sorted.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3702,7161-1,Gungan Sub,1999,379.0,Star Wars Episode 1,Star Wars,158,True
3705,7171-1,Mos Espa Podrace,1999,NaN,Star Wars Episode 1,Star Wars,158,True
3690,7140-1,X-wing Fighter,1999,271.0,Star Wars Episode 4/5/6,Star Wars,158,True
3685,7130-1,Snowspeeder,1999,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3684,7128-1,Speeder Bikes,1999,93.0,Star Wars Episode 4/5/6,Star Wars,158,True

In [71]:
licensed_sorted['count']=1

In [76]:
sum=licensed_sorted.groupby(['year','parent_theme']).sum().reset_index()

In [77]:
sum

    year              parent_theme  num_parts     id  is_licensed  count
0   1999                 Star Wars     1384.0   2054           13     13
1   2000     Disney's Mickey Mouse      405.0   1940            5      5
2   2000                 Star Wars     2580.0   4108           26     26
3   2001              Harry Potter     1284.0   2706           11     11
4   2001                 Star Wars     2949.0   2212           14     14
..   ...                       ...        ...    ...          ...    ...
78  2017           Disney Princess      347.0   3474            6      6
79  2017                 Minecraft     5264.0   5193            9      9
80  2017  Pirates of the Caribbean     2286.0    263            1      1
81  2017                 Star Wars     7583.0   8690           55     55
82  2017              Super Heroes    13123.0  34704           72     72

[83 rows x 6 columns]

In [82]:
count=sum[sum['parent_theme']=='Star Wars']

In [84]:
sum[sum['parent_theme']=='Star Wars']['count'].min()

11

In [85]:
count

    year parent_theme  num_parts    id  is_licensed  count
0   1999    Star Wars     1384.0  2054           13     13
2   2000    Star Wars     2580.0  4108           26     26
4   2001    Star Wars     2949.0  2212           14     14
6   2002    Star Wars     4735.0  4424           28     28
9   2003    Star Wars     6660.0  5056           32     32
12  2004    Star Wars     1659.0  3160           20     20
16  2005    Star Wars     4730.0  4424           28     28
20  2006    Star Wars     2769.0  1738           11     11
24  2007    Star Wars    11361.0  2528           16     16
28  2008    Star Wars     6865.0  3634           23     23
32  2009    Star Wars     3953.0  6162           39     39
36  2010    Star Wars     6003.0  4740           30     30
42  2011    Star Wars     3451.0  5056           32     32
47  2012    Star Wars     6769.0  6794           43     43
52  2013    Star Wars     6159.0  5530           35     35
59  2014    Star Wars     8293.0  7110           45     45
67  2015    Star Wars    11410.0  9164           58     58
76  2016    Star Wars     6934.0  9638           61     61
81  2017    Star Wars     7583.0  8690           55     55

In [87]:
#break down number of sets by year
merged=merged[~merged['set_num'].isnull()]

In [88]:
merged

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False
...,...,...,...,...,...,...,...,...
11981,8410-1,Swampfire,2010,22.0,Ben 10,Ben 10,270,True
11982,8411-1,ChromaStone,2010,21.0,Ben 10,Ben 10,270,True
11983,8517-1,Humungousaur,2010,14.0,Ben 10,Ben 10,270,True
11984,8518-1,Jet Ray,2010,NaN,Ben 10,Ben 10,270,True
11985,8519-1,Big Chill,2010,20.0,Ben 10,Ben 10,270,True

In [90]:
merged['count']=1
num_ofparts=merged.groupby('year').sum().reset_index()[['year','count']]

In [91]:
num_ofparts.head()

   year  count
0  1950      7
1  1953      4
2  1954     14
3  1955     28
4  1956     12

In [92]:
for idx,row in num_ofparts.iterrows():
  print(row['year'],row['count'])

1950 7
1953 4
1954 14
1955 28
1956 12
1957 21
1958 42
1959 4
1960 3
1961 17
1962 40
1963 18
1964 11
1965 10
1966 89
1967 21
1968 25
1969 69
1970 29
1971 45
1972 38
1973 68
1974 39
1975 31
1976 68
1977 92
1978 73
1979 82
1980 88
1981 79
1982 76
1983 57
1984 76
1985 139
1986 123
1987 209
1988 68
1989 114
1990 85
1991 106
1992 115
1993 111
1994 128
1995 128
1996 144
1997 194
1998 325
1999 300
2000 327
2001 339
2002 447
2003 415
2004 371
2005 330
2006 283
2007 319
2008 349
2009 403
2010 444
2011 502
2012 615
2013 593
2014 715
2015 670
2016 608
2017 438